body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#weather {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}